*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}


body {
    position: relative;
    margin: 20px;
    background-color: rgb(101, 126, 183) ;
    
}

header {
    font-family: Fantasy;
    font-style:oblique;
    font-size:xx-large;
    text-align: center;
    box-shadow: 0 2px 16px 1px;
    
}





h1 {
    color: black;
  
}

p {
    color: black;
} 

h2 {
    color: black;
}

nav{

    display: flex;
    align-items: center;
    padding: 20px 8%;

}

nav ul {
    flex: 1;
    text-align: right;
    list-style: none;
}
    


nav ul li a{
    
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
    text-transform:uppercase;
}



main{

    display: flex;
    justify-content: space-between;
   
}

div {

    margin: 50px;
}

.image1fashion {


    float: right;
}

.speaker-form-header {


   font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #f6f7f8;
    border: 1px ;
    border-radius: 3px;

    width: 80%;
    margin: 40px 0;
    padding: 50px;
}

.speaker-form-header h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.speaker-form{
    background-color: #f6f7f8;
    border: 1px solid;
    border-radius: 3px;


    width: 80%;
    padding: 50px;
    margin: 0 0 40px 0;
}

.form-row{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row [type='text'] ,
[type= 'last-name']  ,
[type='email'] {
color: grey;
border: 1px solid;
border-radius: 3px;
box-shadow: none;
width: 100%;
padding: 7px;
font-size: 14px;
}

.form-row label {
    margin-bottom: 15px;
}


.speaker-form-header,
.speaker-form {
    width: 600px;
}

.form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
}


.form-row [type='text'],
 [type='last-name'],
  [type='email'],
  .form-row select,
  .form-row textarea   {
    width: 250px;
    height: initial;
}

.form-row {


    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
}

.legacy-form-row {
    border: none;
    margin-bottom: 40px;
}

.legacy-form-row .radio-label {
    display: block;
    font-size: 14px;
    padding: 0 20px 0 10px;
}

.legacy-form-row input [type='technical-difficulties'] {
    margin-top: 2px;
}





footer {
    padding: 5em;
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: beige;
        color: white;
        text-align:center;
        width: 100%;

}

.contactonfooter {
    color: black;
}

